/* Custom Font-face */

@font-face {
    font-family: 'Coiny';
    src: url('../font/coiny.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mitr';
    src: url('../font/Mitr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mitr-ExtraLight';
    src: url('../font/Mitr-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Layout for Content */

#main-content {
    width: 85%;
    height: 100%;
    float: right;

}

#slider-content {
    width: 100%;
    background-color: rgb(248, 248, 247);
    padding: 10px
}

.bang-xep-hang {
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 10px;
    margin-top: 10px;
}

#album-hot {
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 10px;
    margin-top: 10px;
}

#footer {
    position: absolute;
    width: 100%;
    border: none;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 40px;
    background-image: url('../images/footer-bg.png');
    /* background-blend-mode: hard-light;*/
    background-color: rgba(0, 0, 0, 0.664)
}

#video-hot {
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 10px;
    margin-top: 10px;
}

#artist-hot {
    padding: 10px;
}

#reatimeChart {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    background-color: #1722189a;
}

#main-menu{
    height: 100%;
    margin-left: 60px;
    margin-top: 60px;

}

/* Animated Button */

.animated-btn {
    background-color: transparent;
    border: none;
    color: #50b4c4;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-left: #2132f0 dashed 1px;
    
  }
  
  .animated-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .animated-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .animated-btn:hover span {
    padding-right: 35px;
    color: #c4f3fd;
  }
  .animated-btn:hover{

background-color: #005667      
  }
  
  .animated-btn:hover span:after {
    opacity: 1;
    right: 0;
  }

/* Style for Tags */

html,body {
    background-image: url("../images/background6.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    /* background-blend-mode: color-burn;
    background-color: #027fbdda */
}

a {
    text-shadow: 0 0 15px rgb(48, 5, 240), 0 0 15px rgb(48, 5, 240), 0 0 15px rgb(48, 5, 240), ;
}

h4 {
    font-family: sans-serif;
}


/* Style for Image */

.img-holder {
    position: relative;
    display: inline-block;
}

.img-holder img {
    display: block;
}

.img-holder p {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #070202;
}


/* Overwrite Bootstrap Style */
.container{
    position:absolute;
   bottom:0;
}
.custom-navbar {
    background-color: transparent;
    width: 85%;
    margin-top: 5px;
}

.btn-outline-success {
    border: 1px solid #4355fca4;
    color: #ffffff;
    background-color: #ffffff;
    border-radius: 0;
}

.dropdown-toggle {
    color: #ffffff
}

.btn-outline-success:hover {
    border: 1px solid #4355fca4;
    color: #ffffff;
    background-color: #2132f0
}

.form-control {
    border: transparent;
    border-radius: 0;
    background-color: transparent;
    border-bottom: #6976ff solid 1px;
    color: white !important;
    margin-left: 10px;
}

.form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}

.form-control:focus {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
    outline: none !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.profile-button {
    padding: 0;
    background-color: transparent;
    border-color: transparent;
}

.profile-button:hover,
.button-upload:hover {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.profile-button:focus,
.profile-button.focus,
.profile-button.disabled,
.profile-button:disabled,
.profile-button:not([disabled]):not(.disabled):active,
.profile-button:not([disabled]):not(.disabled).active,
.show>.profile-button.dropdown-toggle {
    background-color: transparent;
    border-color: transparent;
}

.dropdown-item:hover {
    background-color: #5353536e;
    color: #fff
}

.upload-button {
    background-color: transparent;
    padding: 0;
    margin-left: 15px;
    font-size: 14px;
    color: #fff;
    border-color: transparent
}

.img-upload {
    width: 34px;
    height: 34px;
    margin-right: 5px;
}


/* Style for Grid/List */

.grid-image {
    width: 100%;
    background-color: rgba(199, 237, 250, 0.5);
    padding: 10px;
    border: 1.5px dashed #8cdbff;
    box-shadow: 10px 5px 5px rgba(1, 78, 119, 0.603);
}

.list-media-text>h6,
p {
    margin-bottom: 0;
    text-align: left;
    margin-left: 20px;
}

#plList li:hover{
    background-color: rgba(209, 209, 209, 0.418)
}
/* Style for Typography */

.small-text {
    font-size: 14px;
    font-style: italic;
    font-family: Mitr-ExtraLight;
}

.extralight-text {
    font-size: 14px;
    font-family: 'Mitr-ExtraLight';
}

.card-text {
    text-align: center;
    margin: 0;
}


/* Components Decoration */

.bxh-border {
    background-color: #ffffff;
    border: 8px solid #fff;
}

.content-border {
    border: 8px solid #fff;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #000000ce
}

.title {
    color: #ffffff;
    margin-top: 10px;
}

.title-hr {
    border-bottom: double 1px #fff;
}

.glow-border {
    border: 10px solid #fff;
}

.shadow {
    box-shadow: 2px 2px rgba(255, 255, 255, 0.719);
}

.media>div>h6,
.media>div>p,
ul>a {
    font-family: 'Mitr';
}

.media>img {}

ul>a:hover {
    color: white;
    text-shadow: -1px -1px 10px rgb(0, 30, 163), 1px -1px 10px rgb(0, 30, 163), -1px 1px 10px rgb(0, 30, 163), 1px 1px 10px rgb(0, 30, 163);
}

.license {
    all: unset;
}


/* CSS for Padding/ Margin Style */

.pdr-2 {
    padding-right: 2px;
}

.pdl-0 {
    padding-left: 0;
}

.mt-20 {
    margin-top: 20px;
}

.pdr-10 {
    padding-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ta-left {
    text-align: left;
}

.sm-pad {
    padding: 5px;
}

.mgl-20{
    margin-left: 30px
}
.mgr-20{
    margin-right: 30px
}