#main-content {
    /* background-color: #f19d9d; */
    width: 85%;
    height: 100%;
    margin-top: 10px;
}

.img-holder {
    position: relative;
    display: inline-block;
}

.img-holder img {
    display: block;
}

.img-holder p {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #070202;
}

#slider-and-topic {
    width: 100%;
    background-color: rgba(248, 248, 247, 0.466);
    padding: 20px
}

body {
    background-image: url("../images/background2.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.custom {
    background-color: #014064
}

.grid-home {
    width: 100%;
    background-color: rgba(92, 250, 145, 0);
    padding: 10px;
    border: 1.5px dashed #941802c7;
}

.list-media-text>h6,
p {
    margin-bottom: 0;
    text-align: left;
    margin-left: 20px
}

.small-text {
    font-size: 14px;
    font-style: italic
}

hr.style11 {
    border-top: 1px solid #fa1f1f;
    border-bottom: 1px solid rgb(253, 90, 90);
}

.bang-xep-hang {
    width: 100%;
    height: 100%;
    background-color: rgba(228, 245, 72, 0.514);
    padding: 10px;
    margin-top: 10px
}

#album-hot {
    width: 100%;
    height: 100%;
    background-color: rgba(53, 247, 95, 0.493);
    padding: 10px;
    margin-top: 10px
}

#footer {
    position: absolute;
    width: 100%;
    border: none;
    height: fit-content;
    padding-top: 100px;
    padding-bottom: 20px;
    margin-top: 40px;
    background-image: url('../images/bg-footer.jpg')
}

.sm-pad{
    padding: 5px;
}
#artist-hot{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 10px
}
#myChart{
    width: 100%;
    height: 100%;
    background-color: rgba(228, 245, 72, 0.514);
    padding: 10px;
    margin-top: 10px;
}
@font-face {
    font-family: 'Coiny';
    src: url('../font/coiny.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h4{
    font-family: 'Coiny'
}
.borderimg1 { 
    border: 10px solid transparent;
    
    -webkit-border-image: url('../images/border.png') 30 round; /* Safari 3.1-5 */
    -o-border-image: url('../images/border.png') 30 round; /* Opera 11-12.1 */
    border-image: url('../images/border.png') 30 round;
}